<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>

<div class="profile_photo">
  <%= image_tag @user.profile.avatar.url(:thumb) %>
</div>

<%= form_for @profile do |f| %>
    First name: <%= f.text_field :first_name %><br />
    Last name : <%= f.text_field :last_name %><br />
    Birth Date : <%= f.text_field :date_of_birth %> <br/>
    Avatar : <%= f.file_field :avatar %>

    <%= f.submit %>
<% end %>