<div class="row">
  <div class="col-sm-12">
    <h3>Edit Your Profile</h3>
    <p>Name: <%= @user.name if @user.name %></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
    <div class="profile_photo">
        <%= image_tag @user.profile.avatar.url(:thumb) %>
    </div>
  </div>
  <div class="col-sm-9">

  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <%= form_for setup_profile(@profile), html: {role: "form"} do |f| %>
        <!-- Photos -->
        <div class="form-group">
          <fieldset>
            <legend>Photo:</legend>
            <div class="field-wrapper">
              <div class="row">
                <div class="col-sm-12">
                  <%= f.label :avatar, 'Your Avatar Photo' %><%= f.file_field :avatar %>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <%= f.label :profilebg, 'Your Profile Background Photo' %> <%= f.file_field :profilebg %>
                </div>
                <div class="col-sm-4">
                  <div class="checkbox">
                    <label><%= f.check_box :profilebgnophoto %> No Background Photo</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <%= f.label :profilevideo, 'Your Profile Video' %> <%= f.file_field :profilevideo %>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <!-- Biography -->
        <div class="form-group">
          <fieldset>
            <legend>Biography</legend>
            <div class="field-wrapper">
              <div class="input-group">
                <%= f.label :first_name, class: "sr-only" %> <%= f.text_field :first_name, class: "form-control", placeholder: "First Name" %>
              </div>
              <div class="input-group">
                <%= f.label :last_name, class: "sr-only" %> <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
              </div>
              <div class="input-group">
                <%= f.label :date_of_birth, class: "sr-only" %> <%= f.text_field :date_of_birth, class: "form-control", placeholder: "Date of Birth" %>
              </div>
            </div>
          </fieldset>
        </div>
        <!-- Profile -->
        <div class="form-group">
          <fieldset>
            <legend>Profile:</legend>
            <div class="field-wrapper">
              <div class="input-group">
                <%= f.label :title, class:"sr-only" %> <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
              </div>
              <div class="input-group">
                <%= f.label :tagline, class:"sr-only" %> <%= f.text_field :tagline, class: "form-control", placeholder: "Tagline" %>
              </div>
              <div class="input-group">
                <%= f.label :random, class:"sr-only" %> <%= f.text_field :random, class: "form-control", placeholder: "Random Text" %>
              </div>
            </div>
          </fieldset>
        </div>
        <div id="theme" class="form-group">
          <fieldset>
            <legend>Colors:</legend>
            <div class="field-wrapper">
              <%= fields_for @profile.profile_theme do |ff| %>
                  <%= ff.label :profileTextH1Color, 'Profile H1 Headline Color' %> <%= ff.color_field :profileTextH1Color, class: "form-control" %>
                  <%= ff.label :profileTextTitleColor, 'Profile Title Text Color' %> <%= ff.color_field :profileTextTitleColor, class: "form-control" %>
                  <%= ff.label :profileTextTaglineColor, 'Profile Tag Line Color' %> <%= ff.color_field :profileTextTaglineColor, class: "form-control" %>
                  <%= ff.label :profileMessageBGColor, 'Profile Message Background Color' %> <%= ff.color_field :profileMessageBGColor, class: "form-control" %>
                  <%= ff.label :profilebgcolor, 'Profile Background Color' %> <%= ff.color_field :profilebgcolor, class: "form-control" %>
              <% end %>
            </div>
          </fieldset>
        </div>
        <!-- Social Media -->
        <div class="form-group">
          <fieldset>
            <div class="form-group">
              <legend>Social Media:</legend>
              <%= f.label :twitteruser, 'Twitter User Name' %>
              <div class="input-group">
                <span class="input-group-addon">@</span>
                <%= f.text_field :twitteruser, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :facebookuser, 'Facebook User Name', class: "sr-only" %>
              <%= f.text_field :facebookuser, class: "form-control", placeholder: "Facebook User Name" %>
            </div>
            <div class="form-group">
              <% styles = @get_new_token ? "btn btn-warning" : "btn btn-success" %>
              <% btn_text = @get_new_token ? "Please Authorize Facebook" : "Facebook Authorized" %>
              <%= link_to btn_text, profiles_authorize_facebook_path(current_user.id), class: styles %>
            </div>
          </fieldset>
        </div>
        <%= f.submit class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
