<div class="row">
  <div id="profile-background" class="col-lg-12" style="background-image: url('<%= @user.profile.profilebg.url(:large) %>');">
    <div class="row">
      <div class="col-sm-12">
        <div id="profileText">
          <h3><%= @user.name if @user.name %></h3>
          <p><strong>A Title Goes HEre</strong></p>
          <p><em>A tag line of something goes here.</em></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-lg-1">
        <%= image_tag @user.profile.avatar.url(:thumb), class: "img-responsive noblock img-rounded" %>
      </div>
      <div id="profileMessage" class="col-xs-8 col-lg-11">
        <p>Random Stuff</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <% @user.videos.map do |item| %>
        <%= item.profilevideo_file_name %>
        <video id="example_video_1" class="video-js vjs-default-skin"
               controls preload="auto" width="640" height="264"
               poster="http://video-js.zencoder.com/oceans-clip.png"
               data-setup='{"example_option":true}'>
          <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />
          <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
          <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />
          <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">

    <ul id="tweet-feed">
      <% @tweet_news.each do |tweet| %>
          <li>
            <div class="row">
              <div class="hidden-xs col-sm-1 col-md-1 col-lg-1">
                <%= image_tag tweet.user.profile_image_url, class: "img-responsive noblock" %>
              </div>
              <div class="col-xs-12 col-sm-11 col-md-11 col-lg-11">


                <span><%= tweet.text %> <br>
                  <% d = DateTime.parse(tweet.created_at.to_s) %>
                <% created_link = tweet.user.screen_name + " | " + d.strftime('%m/%d/%y | %H:%M %Z').to_s %>
                  <%= link_to created_link, "#{tweet.url}" %>
              </span>
              </div>
            </div>
          </li>
      <% end if !@tweet_news.blank? %>
    </ul>

  </div>
</div>
