<div class="row">
  <div id="profile-background" class="col-lg-12">
    <div class="row">
      <div class="col-sm-12">
        <div id="profileText">
          <h3><%= @user.name if @user.name %></h3>
          <p class="title"><strong><%= @user.profile.title if @user.profile.title.present? %></strong></p>
          <p class="tagline"><em><%= @user.profile.tagline if @user.profile.tagline.present? %></em></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-lg-1">
        <%= image_tag @user.profile.avatar.url(:thumb), class: "img-responsive noblock img-rounded" %>
      </div>
      <div id="profileMessage" class="col-xs-8 col-lg-11">
        <p><%= @user.profile.random if @user.profile.random.present? %></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <% @user.videos.map do |item| %>
        <video id="example_video_1" class="video-js vjs-default-skin"
               controls preload="auto" width="640" height="264"
               poster="http://video-js.zencoder.com/oceans-clip.png"
               data-setup='{"example_option":true}'>
          <source src="<%= item.profilevideo.url %>" type='video/mp4' />
          <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">

    <ul id="tweet-feed">
      <% @tweet_news.each do |tweet| %>
          <li>
            <div class="row">
              <div class="hidden-xs col-sm-1 col-md-1 col-lg-1">
                <%= image_tag tweet.user.profile_image_url, class: "img-responsive noblock" %>
              </div>
              <div class="col-xs-12 col-sm-11 col-md-11 col-lg-11">


                <span><%= tweet.text %> <br>
                  <% d = DateTime.parse(tweet.created_at.to_s) %>
                <% created_link = tweet.user.screen_name + " | " + d.strftime('%m/%d/%y | %H:%M %Z').to_s %>
                  <%= link_to created_link, "#{tweet.url}" %>
              </span>
              </div>
            </div>
          </li>
      <% end if !@tweet_news.blank? %>
    </ul>

  </div>
</div>

<style>

  <% if @user.profile.profile_theme.present? %>

      #profile-background { background: <%= @user.profile.profile_theme.profilebgcolor if @user.profile.profile_theme.profilebgcolor.present? %> url('<%= @user.profile.profilebg.url(:large) if !@user.profile.profilebgnophoto %>') }

      <%= "#profileText h3 { color: #{@user.profile.profile_theme.profileTextH1Color}; }" if @user.profile.profile_theme.profileTextH1Color.present? %>

      <%= "#profileText .title { color: #{@user.profile.profile_theme.profileTextTitleColor}; }" if @user.profile.profile_theme.profileTextTitleColor.present? %>

      <%= "#profileText .tagline { color: #{@user.profile.profile_theme.profileTextTaglineColor}; }" if @user.profile.profile_theme.profileTextTaglineColor.present? %>

      <%= "#profileMessage { background-color: #{@user.profile.profile_theme.profileTextTaglineColor}; }" if @user.profile.profile_theme.profileTextTaglineColor.present? %>

  <% end %>

</style>
