<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rails Test App" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Test App" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href="//vjs.zencdn.net/4.11/video-js.css" rel="stylesheet">
    <script src="//vjs.zencdn.net/4.11/video.js"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
