<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rails Test App" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Hypercard.IO" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- Video JS -->
        <link href="//vjs.zencdn.net/4.11/video-js.css" rel="stylesheet">
        <script src="//vjs.zencdn.net/4.11/video.js"></script>
    <!-- End Video JS -->
    <!-- Spectrum Plugin -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/spectrum/1.6.0/spectrum.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/spectrum/1.6.0/spectrum.min.css">
    <!-- End Spectrum Plugin -->
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
